{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"},
  com.twitter/carbonite {:mvn/version "1.4.0"},
  com.amazonaws/aws-lambda-java-core {:mvn/version "1.1.0"},
  org.ow2.asm/asm {:mvn/version "5.2"},
  cheshire {:mvn/version "5.7.1"},
  com.esotericsoftware/kryo {:mvn/version "4.0.0"},
  com.github.portkey-cloud/aws-clj-sdk {:mvn/version "3273327"},
  org.apache.httpcomponents/httpcore {:mvn/version "4.4.6"},
  com.amazonaws/aws-java-sdk {:mvn/version "1.11.166"},
  com.cemerick/pomegranate {:mvn/version "0.3.1"},
  org.ow2.asm/asm-analysis {:mvn/version "5.2"}}}
